./docker/.cachebust
.env
*.log
node_modules
*.sqlite*
*.db
notebook_secret
jpserver-8*
jupyter_cookie_secret
kernel*.json
*.ipynb_checkpoints
docker/redeploy.sh
cookbook/.ipynb_checkpoints
cookbook/.cache
cookbook/.jupyter
cookbook/.local
cookbook/.ipython
cookbook/.nanome_lib
.env*
__pycache__
